<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Slite Meet</title>
  
  <script>
    const ROOM_ID = "<%= roomId %>";
  </script>

  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <link href="css/screen.css" rel="stylesheet" />
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <script type="module" defer src="app.js"></script>
</head>

<body>
  <button id="recordButton"><span>1</span></button>
  <button id="copy-url-btn">Copy URL</button>
  


  <div id="video-grid">
  
    <div id="gpt-response" class="item"></div>
  </div>

</body>

</html>