#Myface{
  border: 2px solid rgba(255, 255, 255, 0.5);
}


:root {
  --active: #636cea;
  --size: 256px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none; 
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
html.dragging body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  font-size: 13px;
  color: #a1a1a1;
  background: #f9efe4;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#video-grid {
  width: 100vw;
  height: 100vh;
}



video {
  width: 100%;
  height: 100%;
  border-radius: 12px;

  border: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  object-fit: cover;
  text-align: center;
  transition: ease-out 100ms;

  margin: 0 0.25rem;
}


.item {
  width: var(--size);
  height: var(--size);
  touch-action: none;
  user-select: none;

}

